/* Smartphones: 320px até 600px */

@media (max-width: 1324px) {
    
    .obrasCivis{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aa a img{
        margin-bottom: 15px;
        width: 100%;
    }

    .aa{
        display: flex;
        flex-direction: column !important;
    }
}

@media (max-width: 1287px){
    .imagensGaleria{
        flex-direction: column;
        width: 50%;
        justify-content: center !important;
        align-items: center;
    }

    .galeria img{
        width: 60%;
    }

    .galeria{
        justify-content: center !important;
        display: flex;
        flex-direction: column;
    }

    .organizacao{
        display: flex;
        flex-direction: column;
        width: 80% !important;
    }
}

@media (max-width: 1200px){
    .imagensGaleria{
        flex-wrap: wrap;
    }

    .imagensGaleria img{
        margin-bottom: 15px;
        background-color: white;
        padding: 15px;
        border-radius: 15px;
    }

    .soMargin{
        margin-left: 20px;
    }

    .qualidadeResultado{
        margin-left: 20px;
        flex-direction: column;
        text-align: center;
    }

    .trocarImagem{
        display: none;
    }

    .separacao{
        display: initial !important;
    }
}

@media (max-width: 933px){
    .estruturaCards {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .cards{
        margin-bottom: 15px;
        margin-right: 0px !important;
    }

    .imagensGaleria{
        flex-direction: column;
        align-items: center;
    }

    .imagensGaleria img{
        margin-bottom: 15px;
        background-color: white;
        padding: 15px;
        border-radius: 15px;
    }
}

@media (max-width: 500px) {
    .topo1{
        display: none !important;
        
    }
}

@media (max-width: 774px) {


    .topo2 img {
        width: 45%;
    }

    .estruturaCards {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        margin-right: 0px;
        margin-bottom: 25px;
    }

    .imagensGaleria {
        flex-direction: column;
        align-items: center;
    }

    .imagensGaleria img {
        width: 90%;
        margin-bottom: 25px;
    }

    .contato {
        flex-direction: column;
    }
    /* .banner{
        display: none;
    } */

    .servicos{
        margin-top: 10px;
    }

    .nossaEquipe{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .estruturaEquipe{
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .informacoesEstrutura{
        align-items: center;
    }

    .informacoesEstrutura p{
        align-items: center;
    }

    .topo2{
        position: relative !important;
    }

}

@media (max-width: 536px) {
    .imagensGaleria{
        width: 100%;
    }

    .imagensGaleria img{
        width: 100%;
    }
}


@media (max-width: 442px) {
        
    .topo2 ul li{
        margin-bottom: 17px;
    }

    .topo2{
        position: inherit;
    }

    .desenvolvido img{
        width: 80%;
    }

    .formulario h2{
        flex-direction: column;
    }

    .servicos p{
        background-color: black ;
    }
}

/* RESPONSIVO PARTE SOBRE NOS */

@media (max-width: 1193px) {
    .primeiraParte{
        flex-direction: column;
        align-items: center;
    }

    .primeiraParte img{
        margin-top: 10px;
    }

    .linhaPreta{
        width: 30%;
    }
}

@media (max-width: 500px) {
    .cabecalho h2{
        font-size: 30px !important;
    }

    .linhaPreta{
        width: 10%;
    }

    .engenheiroSobre{
        flex-direction: column;
        align-items: center;
    }

    .engenheiroSobre img{
        width: 70%;
    }
}

@media (max-width: 322) {
    .linhaPreta{
        display: none;
    }
}

