* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --font1: 'Archivo', sans-serif;
    --font2: 'Carrois Gothic', sans-serif;
}


header {
    background-color: black;
}

.site {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.topo1 {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo1 a {
    font-family: var(--font1);
    font-size: 15px;
    color: white;
}


.topo2 {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}


.topo2 img {
    margin-right: 10px;
    cursor: pointer;
}

.menu ul li a {
    font-family: var(--font2);
    font-size: 24px;
    text-decoration: none;
    color: black;
    position: relative;
    margin-right: 15px;
}

.menu ul {
    display: flex;
    list-style: none;
}


.menu ul li a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.menu ul li a:hover::after {
    width: 100%;
}

.abrirMenu, .fecharMenu{
    border: none;
}

.topo2 div a:nth-child(2) {
    margin: 0px 23px;
}

.topo2 div a:hover {
    color: rgba(0, 0, 0, 0.37);
}

.menufixo {
    z-index: 5;
    background-color: #fff;
    animation: fadeIn 1s ease-in-out;
    padding: 20px;
    border-radius: 15px;
}

.estruturaTopo2 {
    display: flex;
    justify-content: center;
}

.menu{
    height: 102vh;
    width: 50vh;
}
/* SEÇÃO BANNER */

.banner img {
    width: 100%;
}

/* SEÇÃO O QUE FAZEMOS */

.servicos {
    padding: 20px;
    background: url(./img/fundoServico.png);
    margin-bottom: 50px;
}

.servicos p {
    text-align: center;
    color: white;
    font-family: var(--font1);
    margin-top: 30px;
}

.servicos h2,
h3 {
    text-align: center;
    color: white;
}

.servicos h2 {
    font-family: var(--font1);
    font-weight: bold;

}

.servicos h3 {
    font-family: var(--font1);
    font-weight: lighter;
}

/* SEÇÃO COMO FUNCIONA  */

.estruturaCards {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.cards img {
    margin-bottom: 15px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 45px;
    background-color: black;
    margin-right: 30px;
    max-height: 500px;
    /* height: 100%; */
    max-width: 500px;
    width: 100%;
}

.cards p {
    font-family: var(--font1);
    font-weight: lighter;
    font-size: 24px;
    color: white;
    text-align: center;
}

.tituloCards {
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

/* SEÇÃO GALERIA */
.galeria {
    background: url(./img/fundoGaleria.png);
    padding: 15px;
    align-items: center;
}

.estruturaGaleria {
    text-align: center;
    font-family: var(--font1);
}

.estruturaGaleria h2 {
    margin-bottom: 50px;
    font-weight: bold;
}

.imagensGaleria {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.imagensGaleria img {
    margin-bottom: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.imagensGaleria img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.galeria button {
    margin-top: 50px;
    background-color: #09A7DF;
    border: none;
    font-size: 32px;
    border-radius: 20px;
    font-family: var(--font1);
    color: white;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
}

.galeria button:hover {
    background-color: #21baf1;
}


/* SEÇÃO FORMULARIO */

.formulario h2 {
    color: black;
    font-size: 24px;
    font-family: var(--font1);
    font-weight: bold;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.destaqueOnline {
    background-color: black;
    color: #00FF19;
    padding: 6px;
    border-radius: 6px;
    margin-left: 5px;
}

.contato {
    background: url(./img/fundoServico.png);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

.caixas div {
    color: white;
    font-size: 20px;
    font-family: var(--font1);
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.479);
    margin-bottom: 20px;
}

.caixas{
    justify-content: center;
}

.caixas div input {
    padding: 3px;
    width: 100%;
}

.mens div{
    display: flex;
    flex-direction: column;
}

.caixas div label {
    margin-bottom: 7px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
}

.informacoesContato {
    background-color: white;
    padding: 15px;
    height: 15%;
    border-radius: 15px;
}

.informacoesContato h3 {
    color: black;
    font-family: var(--font1);
    font-size: 24px;
    font-weight: bold;
}

.informacoesContato div div {
    margin-top: 20px;
}

.estruturaContato img {
    margin-right: 15px;
}

.estruturaContato a {
    text-decoration: none;
    color: black;
    font-family: var(--font1);
    font-weight: lighter;
    font-size: 21px;
}

.estruturaContato {
    display: flex;
    align-items: center;
}

.estruturaContato img {
    width: 18%;
}

.botoes input {
    background: none;
    border: 1px solid white;
    color: white;
    font-family: var(--font1);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.botoes input:nth-child(1) {
    margin-right: 14px;
}

.mens div textarea {
    resize: none;
    padding: 3px;
}

/* FOOTER */

footer {
    padding: 15px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estruturaFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contatoFooter {
    margin: 15px 0px;
}

.contatoFooter img:nth-child(2) {
    margin: 0px 10px;
}

.creditos h2 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

.creditos h3 {
    font-family: var(--font1);
    font-weight: lighter;
    font-size: 15px;
    color: white;
    text-align: center;
}

.desenvolvido a {
    display: flex;
    justify-content: center;
    border-top: white 1px solid;
    width: 100%;
    margin-top: 50px;
}

.desenvolvido img {
    width: 38%;
}

/* SOBRE NOS CSS */

.sobreNos{
    margin-top: 50px;
    margin-bottom: 50px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.cabecalho h2{
    margin-left: 40px;
    font-size: 40px;
    font-family: var(--font1);
    font-weight: bold;
}

.conteudo{
    margin-top: 50px;
}

.primeiraParte{
    display: flex;
}

.conteudo p{
    font-family: var(--font1);
    font-weight: lighter;
    font-size: 18px;
}

.texto{
    margin-top: 20px;
}

.engenheiroSobre{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.informacoes{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.informacoes h2{
    font-family: var(--font1);
    font-weight: bold;
    margin-bottom: 5px;
}

.informacoes h3{
    text-align: initial;
    font-family: var(--font1);
    font-weight: lighter;
    color: gray;
}

.informacoes p{
    font-family: var(--font1);
}

.informacoes div{
    margin-bottom: 15px;
}